outputs/
*.ipynb
**/*.ipynb
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv/
venv/
*.log
runs/
saved/
checkpoints/
*.pth
*.pt
*.ckpt
models/Depth_Anything-3/
models/dinov3/
scripts/
experiments/
